@charset "utf-8";

*{
margin:0px;
padding:0px;
}

.header {
  background-color: #2f5167;
  color: #fff;
  height: 70px;
}

.header-logo {
  float: left;
  font-size: 30px;
  padding: 20px 40px;
}

.header-list li {
  list-style-type: none;
  float: right;
  padding: 20px 20px;
}

.main {
  max-width: 1000px;
  margin: auto;
  font-family: "Avenir Next";
}

.pic {
  margin : 0 auto;
  position: relative;
}

.pic p {
  position: absolute;
  color: white;
  top: 0;
  left: 0;
}

.pic img {
  max-width: 1000px;
}

.copy-container h1 {
  text-align: center;
  font-size: 80px;
}

.contents-item h2 {
  margin-top: 50px;
  font-size: 30px;
}

.contents-item h3 {
  margin-top: 100px;
  font-size: 25px;
}

.copy-container span {
  color: #ff4a4a;
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  margin-bottom: 30px;
}

.contents-item {
  float: left;
}

.contents-item p {
  font-size: 20px;
  margin-top: 30px;
}


.contact-form {
  padding-top: 200px;
}

input,textarea {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

.contact-submit {
  background-color:#dee7ec;
  color:#889eab;

}



.footer {
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px;
}



.footer-logo {
  float: left;
  font-size: 32px;
}


.footer-list li {
  list-style-type: none;
  float: right;
  padding: 30px 20px;
}
